<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<% if (locals.accountData) { %>
  <h2 id="welcome-management">Welcome <%= locals.accountData.account_firstname %></h2>
  <p>You're now logged in to your account.</p>

<% } %>