<div id="main-content">
    <h1>Welcome to CSE Motors!</h1>
    <div id="hero-content">
        <img src="/images/vehicles/delorean.jpg" alt="An image of the DeLorean DMC from Back To The Future" fetchpriority="high" width="500" height="300">
        <div>
            <h2>DMC DeLorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </div>
    </div>
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-card">
            <div class="upgradeBackground">
                <img src="/images/upgrades/flux-cap.png" alt="The flux capacitor from Back To The Future">
            </div>
            <a href="">Flux Capacitor</a>
        </div>
        <div class="upgrade-card">
            <div class="upgradeBackground">
                <img src="/images/upgrades/flame.jpg" alt="A flame drawing">
            </div>
            <a href="">Flame Decals</a>
        </div>
        <div class="upgrade-card">
            <div class="upgradeBackground">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="A bumper sticker picture">
            </div>
            <a href="">Bumper Stickers</a>
        </div>
        <div class="upgrade-card">
            <div class="upgradeBackground">
                <img src="/images/upgrades/hub-cap.jpg" alt="A hub cap picture">
            </div>
            <a href="">Hub Caps</a>
        </div>
    </div>
</div>